header {
  color: blue;
  font-family: "copperplate";
}

.is-prime {
  color: #00E676;
}

.not-prime {
  color: #FF3D00;
}

#primeForm {
  border: 2px solid black;
  padding: 2px;
}

.formLabel {
  font-weight: bold;
}

#primeInput {
  border-radius: 0px;
}

.submitButton {
  background-color: navy;
	color: white;
	border: 1px solid black;
}

ul {
  list-style-type: "😎";
}

#error {
  color: orange;
  font-weight: bold;
}

footer {
  color: grey;
}