<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{{title}}}</title>

    {{!-- <link rel="stylesheet" href="/public/main_styles.css"> --}}
</head>

<body>
    <main>
        {{{body}}}
    </main>
</body>

</html>